@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
  background: rgb(248, 248, 248);
  font-family: 'Nunito';
  font-size: 1rem;
  line-height: 1.75rem;
}



body {
  
}
